<div class="d-flex flex-column justify-content-center align-items-center h-100">
        <h1 class="column justify-content-center align-self-center">Saturnine</h1>
        <p>A daily mood tracker based on your daily music</p>
        <div class="d-flex flex-row justify-content-between">
        <form method="GET" action="/authorize">
        <button type='submit' href="./authorize" class="btn btn-light btn-lg">Login with Spotify</button>
        </form>
</div>
<p class="cred">Photo by David Jorre on Unsplash</p>
